<!doctype html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <title>HOME PAGEd</title>
  <link rel="stylesheet" href="static/test.css" />
  <script type="text/javascript" src="static/qweb2.js"></script>
  <script type="text/javascript" src="static/jquery-1.11.3.js"></script>
 </head>
 <body>
	<a href="add/4/5">4+5=?</a>
	<div>
		<img src="static/2016-10-24_162222.png" alt="2016-10-24_162222.png" />
	</div>
    <div id="myQweb"></div>
	<script type="text/javascript" src="static/test1.js"></script>
	<script type="text/javascript" src="static/test.js"></script>
 </body>
</html>